<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Runs a script which checks links on the Guidelines HTML output from TEIP5-dev.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 0 * * 4</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>VERSIONFILE=$JENKINS_HOME/workspace/TEIP5-dev/P5/VERSION
VERSION=`cat ${VERSIONFILE}` 
TARGET=$JENKINS_HOME/jobs/TEIP5-dev/lastSuccessful/archive/P5/release/doc/tei-p5-doc/en/html/index.html


echo "Running link checking for P5 version $VERSION."

case "$VERSION" in
*[a-z])  echo "Using configuration for pre-release version.";
export W3C_CHECKLINK_CFG=$JENKINS_HOME/jobs/Guidelines-Link-Check/linkcheckerrcalphabeta;
checklink -e -q -D6 -X ".+readme-\d\.\d\.\d\.html" $TARGET ;;
*) echo "Using configuration for release version.";
export W3C_CHECKLINK_CFG=$JENKINS_HOME/jobs/Guidelines-Link-Check/linkcheckerrcrelease;
checklink -e -q -D6 -X ".+readme-\d\.\d\.\d\.html" $TARGET ;;
esac

#echo "Transforming checker report..."
#saxon -s:$JENKINS_HOME/workspace/Guidelines-Link-Check/checkResults/linkchecker-out.xml -xsl:$JENKINS_HOME/jobs/Guidelines-Link-Check/linkchecker.xsl
#echo "Done!"
#exit</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@2.0">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <showGraphs>false</showGraphs>
      <parsingRulesPath>/var/jenkins_home/tei-log-parse-rules</parsingRulesPath>
      <useProjectRule>false</useProjectRule>
    </hudson.plugins.logparser.LogParserPublisher>
  </publishers>
  <buildWrappers/>
</project>